@import 'scss/style.scss';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  $main-color: #4081BC;
  $gray-color: #787878;


#rate {
  width: 200px;
}


.cgu {
  padding: 0% 7% 0% 7%;

  p {

    padding: 1% 1% 1% 1%;
  }
}


